body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.fancy-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    margin: 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.gallery img {
    width: 100%; /* Adjust the width as needed */
    height: auto;
    margin: 10px;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
}

.modal-header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.miniature {
    width: 150%; /* Adjust the width as needed */
    height: auto;
}


.modal-content {
    margin: auto;
    display: block;
    max-width: 155%; /* Adjust the width as needed */
    max-height: 155%; /* Adjust the height as needed */
}


.close {
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
    cursor: pointer;
}

/* Responsive styles */
@media only screen and (max-width: 600px) {
    .gallery img {
        width: 100%;
    }

    .modal-content {
        max-width: 100%;
    }
}
