#d3_fd_network svg {
  border: 0px solid;
  font: 13px sans-serif;
}

.node circle {
stroke: #fff;
stroke-opacity: .6;
stroke-width: 1.5px;
}

.node text {
font-family: console, monospace;
font-size: 8px;
color: rgb(53, 53, 53);
}

.node .network-selected {
stroke: red;
}

.link {
  stroke: #999;
}

div.tooltip {	
position: absolute;			
text-align: center;			
width: 400px;					
height: 120px;					
padding: 2px;				
font: 12px sans-serif;
font-weight: bold;
color: whitesmoke;		
background: rgb(67, 68, 68);	
border: 0px;		
border-radius: 8px;			
pointer-events: none;			
}
